#root {
  box-sizing: border-box;
  margin: 0 auto;
}

/* needed for particle.js */
.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}
.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
