@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font: 14px/1.5 sans-serif;

  text-align: center;
}

li a {
  text-decoration: none;
  color: #111827;
}

.segmented-control {
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}
.segmented-control__item {
  float: left;
  list-style-type: none;
}
.segmented-control__input {
  position: absolute;
  visibility: hidden;
}
.segmented-control__label {
  display: block;
  padding: 1em 4em;
  margin: -1px 0;
  border-left: 1px solid #ddd;
  text-align: center;
  cursor: pointer;
}
.segmented-control__item:first-child .segmented-control__label {
  border-left-width: 0;
}
.segmented-control__label:hover {
  background: #0f766e;
}
.segmented-control__input:checked + .segmented-control__label {
  background: #14b8a6;
}
